<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s3k_user1.appatencionpedidos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_corporacion_pj"
        android:label="@string/app_icon_texto"
        android:theme="@style/Theme.RicoPaRico">
        <activity android:name=".Login.SplashScreenActivity"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Login.Login"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".ui.ActividadPrincipal"
            android:label="@string/app_icon_texto"
            android:theme="@style/Theme.ConNavigationDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActividadConfiguracion"
            android:label="@string/titulo_actividad_configuracion"
            android:parentActivityName=".ui.ActividadPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ActividadPrincipal" />
        </activity>
        <activity android:name=".CheckoutActivity"

            android:parentActivityName=".ui.ActividadPrincipal">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ActividadPrincipal" />
        </activity>
    </application>

</manifest>